@keyframes changeShadow1 {
    from {box-shadow:8px 10px  #e5a3ff ;}
    to {box-shadow:0 0 }
}
@keyframes changeShadow2{
    from {box-shadow:8px 10px  #ffd900 ;}
    to {box-shadow:0 0 }
}
@keyframes changeShadow3 {
    from {box-shadow:8px 10px  #80fdc9bd ;}
    to {box-shadow:0 0 }
}
@keyframes changeShadow4 {
    from {box-shadow:8px 10px  #ff531fc5 ;}
    to {box-shadow:0 0 }
}
@keyframes changecolortowhite {
    from { background-color: #E9672B;}
    to { background-color: white; }
}
@keyframes changecolortoblack {
    from { background-color: #E9672B;}
    to { background-color: rgb(58, 58, 58); }
}
@keyframes socialinvert {
    from { filter: invert(0);
        background-color: black;}
    to {filter: invert(1); 
        background-color: white;}
}
@keyframes socialinvertinvert {
    from { filter: invert(0);
        background-color: black;}
    to {filter: invert(1);
        background-color: white; }
}


body{
    background-color: #FBF8F5;
    margin: 0;
    /* width: 1280px; */
    overflow-x: hidden;
}
.pagination_cont{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.pagination{
    width: 30.7%;
    border: 2px solid #E9672B;
    border-radius: 5px;
    padding: 0 0 6.55% 0;
    box-shadow: 8px -8px #e5a3ff;
}
.pagination2{
    width: 30.7%;
    border: 2px solid #225DCA;
    padding: 0 0 4.65% 0;
    box-shadow: 8px -8px #ffd900;
    border-radius: 5px;
}
.pagination3{
    width: 30.7%;
    border: 2px solid #242947;
    padding: 0 0 4.65% 0;
    box-shadow: 8px -8px #80fdc9bd;
    border-radius: 5px;
}
.pagination4{
    width: 30.7%;
    border: 2px solid #DE4333;
    padding: 0 0 2.8% 0;
    box-shadow: 8px -8px #b82b00;
    border-radius: 5px;
}
.pagination5{
    width: 30.7%;
    border: 2px solid #242947;
    padding: 0 0 4.65% 0;
    box-shadow: 8px -8px #c6d30d;
    border-radius: 5px;
}
.pagination6{
    width: 30.7%;
    border: 2px solid #DCD6CC;
    padding: 0 0 8.15% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.pagination6 button{
    margin-top: 20%;
    border: none;
    background-color: #DCD6CC;
    padding: 5% 0 5% 0;
    width: 50%;
    border-radius: 30px;
    font-family: "Roboto";
    font-size:100%;
}
.pagination_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination_count{
    display: flex;
}
.burger{
    display: none;
}
.burger.open{
    display: none;
}
body.dark .burger{
    filter: invert(1);
}
.burger_open{
    display: none;
}
body.dark .burger_open.open a{
    color:white;
}
.burger_open.open{
    transform: translateY(85px);
    display: flex;
    flex-direction: column;
    background-color: #E9672B;
    color: black;
    font-family: roboto;
    width:30%;
    height:200px;
    text-decoration: none;
    text-align: center;
    gap:6px;
    position: fixed;
    padding: 20px 0 20px 0;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}
.burger_open.open a{
    text-decoration: none;
    color:black;
}
.burger_open.open button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:rgb(17, 17, 17);
    background-color: white;
    width: 40%;
}
body.dark .burger_open.open button{
    color:white;
    width: 40%;
}
.header_container_img.whenburger{
    display: flex;
    justify-content: center;
    align-self: center  ;
    margin-right: 38.9%;
}
.transparent{
display: none;
}
.transparent.open{
    display: flex;
    background-color: rgb(0, 0, 0.5);
    filter:opacity(40%);
    position: absolute;
    width:100%;
    z-index: 98;
    height: 10325px;
    transform: translateY(-50px);
}
body.dark {
    background-color: #000000d7; 
}
body.dark a{
    color: #ffffffd3;
}
body.dark p{
    color: #ffffffd3;
}

header{
    display: flex;
    margin-top:2% ;
    align-items: center;
    justify-content: space-evenly;
}
.a_container{
    display: flex;
    justify-content: space-evenly;  
    width:35.5%;  
   padding-left: 1%;
}
.a_container a{
    text-decoration: none;
    color:black;
    font-family: "Roboto";
    font-size: 100%;
    font-weight:420;
}
.a_container a:hover{
    border-bottom:2px solid #E9672B ;
}
.header_container_img{
    width: 23%;
    margin-top:0.1% ;
    text-align: center;
    padding-left:2.5% ;
}
.header_container_img img:hover{
    width: 42%;
}
.Login{
    display: none;
}
.Login.open{
    margin-top:2%;
    width:70%;
    display:flex;
    position:fixed;
    z-index: 99;
    flex-direction: column;
    text-align: center  ;
    text-decoration: none;
    background-color: #E9672B;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
   height: 800px;
   transform: translateX(23%);
   overflow: hidden;
   font-family: roboto;
   gap:5%;
}
.Login.open.dark{
    background-color: #00000071;
}
.Login.dark button{
    background-color: #E9672B;
}
.Login input{
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: none;
}
.Login button{
    width:10%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: Roboto;
    font-size: 20px;
}
.Register{
    display: none;
}
.register_class{
    width: 70%;
}
#agreement{
    width: 10%;
}
.Register input{
    width: 30%;
    height: 50px;
    border-radius: 20px;
    border: none;
}
.Register button{
    width:25%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: Roboto;
    font-size: 20px;
}
.Register.open{
    margin-top:2%;
    width:70%;
    display:flex;
    position:fixed;
    z-index: 99;
    flex-direction: column;
    text-align: center  ;
    text-decoration: none;
    background-color: #E9672B;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
   height: 800px;
   transform: translateX(23%);
   overflow: hidden;
   font-family: roboto;
   gap:1%;
}
#manualPasswordFields{
    gap: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#manualPasswordFields input{
    width:  30%;
}
.Account_menu{
display: none;
}

.close{
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
}
.close p{
    margin: 0;
}
.Account_menu.open{
    margin-top:2%;
    width:70%;
    display:flex;
    position:fixed;
    z-index: 99;
    flex-direction: column;
    text-align: center  ;
    text-decoration: none;
    background-color: #E9672B;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
   height: 800px;
   transform: translateX(23%);
   overflow: hidden;
   font-family: roboto;
   gap:5%;
}

.Account_menu.open .Account_menu_text{
    text-decoration: none;
    font-size: 150%;
    color: black;
    background-color: #F3F0EC;
    padding: 50px 0 50px 0;
    width: 80%;
    border-radius: 50px;
    cursor: pointer;
    
}

body.dark .header_container_img{
    filter:invert(1);
}
.a_container_2{
    align-items: center;
    margin-top:0.1% ;
    display: flex;
    justify-content: space-evenly;  
    width:34%;
}
.a_container_2 a,p{
    text-decoration: none;
    color:black;
    font-family: "Roboto";
    font-size: 100%;
    font-weight:420;
}
.a_container_2 a:hover, .a_container_2 p:hover{
    border-bottom:2px solid #E9672B ;
}
.a_2{
    margin-right: 4.5%;font-size: 98%;
}
#languageButton{
    font-family: roboto;
    font-size: 100%;
    font-weight: 420%;
    border: none;
    background-color: #E9672B;
    border-radius:5px ;
    cursor: pointer;
}
#languageButton:hover{
    border: 1px solid black
}
body.dark #languageButton:hover{
    border: 1px solid white
}
#themeButton{
    font-family: roboto;
    font-size: 100%;
    font-weight: 420%;
    border: none;
    background-color: #E9672B;
    border-radius:5px ;
    cursor: pointer;
    
}
#themeButton:hover{
    border: 1px solid black
}
body.dark #themeButton:hover{
    border: 1px solid white
}
#languageButton2{
    font-family: roboto;
    font-size: 100%;
    font-weight: 420%;
    border: none;
    background-color: #E9672B;
    border-radius:5px ;
    cursor: pointer;
}
#languageButton2:hover{
    border: 1px solid black
}
body.dark #languageButton2:hover{
    border: 1px solid white
}
#themeButton2{
    font-family: roboto;
    font-size: 100%;
    font-weight: 420%;
    border: none;
    background-color: #E9672B;
    border-radius:5px ;
    cursor: pointer;
    
}
#themeButton2:hover{
    border: 1px solid black
}
body.dark #themeButton2:hover{
    border: 1px solid white
}
.header_container_img_cart{
    margin: 0.4% 3% 0 0;
}
.header_container_img_cart:hover{
    filter: invert(0.7);
}
body.dark .header_container_img_cart{
    filter:invert(1);
    cursor: pointer;
}
body.dark .header_container_img_cart:hover{
   filter:invert(0.7);
    cursor: pointer;
}
.Main_container1{
    margin-top:1.2%;
    display:flex; 
    justify-content: space-around;  
        
}
.Main_container1.Admin{
    display: none;
}
.Main_container1_left_div{
    width:40%;
    margin: 7% 0 0 7.3%;
}

.Main_container1_top_text{
    font-size: 402%;
    margin: 0 0 0 0.5% ;
    font-weight: 400;
    font-family: "Roboto";
}
.Main_container1_bottom_text{
    font-size: 112.5%;
    margin:3.2% 0 0 0.5%;
    font-weight: 400;
    line-height: 160%;
    font-family: "Roboto";
    width: 80%;
}
.Main_container1_bottom_text p{
    margin: 0;
}
.Main_container1_button{
    margin:7.8% 0 0 0.4%;
    border-radius: 30px;
    padding:3.5% 0 3.5% 0;
    width:32.7%;
    font-family: "Roboto";
    font-size:112%;
    background-color: #E9672B;
    border: 0;
    cursor: pointer;
}
.Main_container1_button:hover{
    animation: changecolortoblack 3s ease;
}
body.dark .Main_container1_button:hover{
    animation: changecolortowhite 3s ease;
}
.Main_container1_button.user{
    display: none;
}
.Main_container1_img {
    margin-top: 7.6%;
    width: 53%;
}
.Main_container1_img img {
    width: 100%;
}
.Main_container2
{
    margin-top:9.2%;
}

.Main_container2_text{
    font-family: "Roboto";
    font-size: 300%;
    margin-bottom: 0%;
    text-align: center;
}
.Main_container2_rectangles{
    display: flex;
    flex-direction: row;
   align-items: center;
   margin: 3% 0 0 7.1%;
   gap:2.65%;
   width: 90%;
}
.Main_container2_rectangles.nolog{
    display: none;
}
.Main_container2_rectangles img{
    width: 100%;
}
.Main_container2_rectangle1{
    width:21.3%;
    border: 2px solid #E9672B;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #e5a3ff ;
    cursor: pointer;
    
}
.Main_container2_rectangle1:hover{
    animation: changeShadow1 1s ease;
}
.Main_container2_rectangle2{
    width:21.3%;
    border: 2px solid #225DCA;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #ffd900 ;
    cursor: pointer;    
}
.Main_container2_rectangle2:hover{
    animation: changeShadow2 1s ease;
}
.Main_container2_rectangle3{
    width:21.3%;
    border: 2px solid #242947;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #80fdc9bd ;
    cursor: pointer;
}
.Main_container2_rectangle3:hover{
    animation: changeShadow3 1s ease;
}
.Main_container2_rectangle4{
    width:21.3%;
    border: 2px solid #DE4333;
    font-family: "Roboto";
    font-size:110%;
    text-align: center;
    border-radius: 5px;
    box-shadow:8px 10px  #ff531fc5 ;
    cursor: pointer;
}
.Main_container2_rectangle4:hover{
    animation: changeShadow4 1s ease;
}
.Main_container2_rectangle1 p{
    margin-top: 5%;
}
.Main_container2_rectangle2 p{
    margin-top: 5%;
}
.Main_container2_rectangle3 p{
    margin-top: 5%;
}
.Main_container2_rectangle4 p{
    margin-top: 5%;
}
.Main_container3{
    margin-top:6.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
body.dark .Main_container3{
    background-color: #00000071;
}
.Main_container3_1{
    width:100%;

    text-align: center;
    padding-top: 10.35%;
}

.Main_container3_top_text{
    font-family: "Roboto";
    font-size:225.5%;
    margin:0;
}   
.Main_container3_bot_text{
    font-family: "Roboto";
    font-size:150%;
    margin:1.5% 0 0 0;
    line-height:134.5%;
}
.Main_container3_2{
    display: flex;
    justify-content: space-between;
    margin-top:9.7%;
}
.Main_container3_2 img {
    width: 48.1%;
    margin-top:0.1%;
}
.Main_container3_2_text{
    width:35%;
    margin:6.2% 0 0 6.6%;
}
.Main_container3_2_bot_text{
    margin-top: 5.5%;
    font-family: "Roboto";
    font-size:113%;
    line-height: 150%;
}
.Main_container3_2_bot_text2{
    color: #E9672B;
    font-family: "Roboto";
    font-size:113%;
    margin-top: 8%;
}
.Main_container3_3{
    display: flex;
    justify-content: space-between;
    margin-top:5%;
}
.Main_container3_3 img {
 margin-left: 7.5%;
}
.Main_container3_3_text{
    width:35%;
    margin:13.65% 6.65% 0 0;
}
.Main_container3_3_bot_text{
    margin-top: 5%;
    font-family: "Roboto";
    font-size:113%;
    line-height: 155%;
}
.Main_container3_3_bot_text2{
    margin-top: 5.8%;
    font-family: "Roboto";
    font-size:113%;
    line-height: 155%;
}
.Main_container3_4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:3.9%;
}
.Main_container3_4 img{
    width: 50%;
    height: 50%;
    margin: 1.1% 0.15% 0 0;
}
.Main_container3_5{
    display: flex;
    justify-content: space-between;
    margin-top: 3.3%;
    padding-bottom: 17.4%;
}
.Main_container3_5 img{
    margin: 1.7% 0 0 8%;
}
.Main_container4{
    display: flex;
    margin:5.95% 0 0 0;
    flex-direction: column;
}
.Main_container4.nolog{
    display: none;
}
.Main_container4_top_text{
    font-family: "Roboto";
    text-align: center;
    font-size:225.5%;
}
.Main_container4_bottom_class{
    display: flex;
    margin:1.58% 0 0 0;
    gap:0.5%;
    justify-content: center;
    flex-wrap: wrap;
}
.Main_container4_rectangle{
    width:15.3%;
    text-align: center;
    background-color: white;
    padding: 3.2% 1.3% 3.5% 1.3%;
}
body.dark .Main_container4_rectangle{
    background-color: #00000071;
    color: white;
}
.Main_container4_rectangle_text{
    font-family: "Roboto";
    font-size:113%;
}
.Main_container4_rectangle_text{
    margin:14% 0 0 0 ; 
    
}
.Main_container4_rectangle_text p{
    font-family: "Roboto";
    font-size:102%;
    margin:0;
    
}
.Main_container4_rectangle_text2{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content:center;
    margin: 4% 0 0 6%;
    line-height: 200%;
    font-family: "Roboto";
    font-size:95%;
    padding-bottom:0% ;
}
.Main_container4_Shop_furnirture{
    text-align: center;
    margin:4.7% 1% 0 0;
    font-family: "Roboto";
    font-size: 114%;
    color:#E9672B ;
}
.Main_container_5{
    margin: 9% 0 0 0;
    display: flex;
    gap:0.55%;
}
.Main_container_5.nolog{
    display: none
}
.Main_container5_right{
    background-color: #E9672B;
    width: 63.9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.Main_container5_right img{
 width: 32.15%;
 margin: 14% 0.4% 0 0;
}
.Main_container5_right p{
    font-family: "roboto";
    font-size: 225%;
    margin:5.55% 0 0 0;
}
.Main_container5_right button{
    margin:7.5% 0.46% 0 0;
    border-radius: 30px;
    padding:4.4% 0 4.4% 0;
    width:60.5%;
    font-family: "Roboto";
    font-size:112%;
    background-color: white;
    border: 0;
}
.Main_container5_right button:hover{
    border: 2px solid black;
    background-color: rgb(255, 210, 197);
}
.Main_container6{
    margin-top:8.15% ;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
.arrows{
    transform: translateY(170px);
    width: 100%;
    height: 254.16px;
    position: absolute;
    z-index: 1000;
}
.arrow-right{
    width: 50%;
    height: 254.16px;
    filter: opacity(0);
    position: absolute;
    background-color: #225DCA;
    left: 50%;
}
.arrow-left{
    width: 50%;
    height: 254.16px;
    filter: opacity(0);
    position: absolute;
    background-color: #225DCA;
    right: 50%;
}
.Main_container6_text{
    font-size: 300%;
    text-align: center;
    font-family: "roboto";
}
.Main_container6_rectangles{
    display: flex;
    flex-direction: row;
    width: 198.2%;
    margin: 0.6% 0 0 0.4%;
    gap:1.27%;
    z-index: 10;
    
}
.slide-transition {
    transition: transform 0.3s ease;
  }
.Main_container6_rectangle1{
    width: 25%;
    border: 2px solid #E9672B;
    border-radius: 5px;
    padding: 0 0 1.4% 0;
    box-shadow: 8px -8px #e5a3ff;
}
.Main_container6_rectangle2{
    width: 25%;
    border: 2px solid #225DCA;
    border-radius: 5px;
    padding: 0 0 1.4% 0;
    box-shadow: 8px -8px #ffd900;
}
.Main_container6_rectangle3{
    width: 25%;
    border: 2px solid #242947;
    border-radius: 5px;
    padding: 0 0 1.4% 0;
    box-shadow: 8px -8px #80fdc9bd;
}
.Main_container6_rectangle4{
    width: 25%;
    border: 2px solid #DE4333;
    border-radius: 5px;
    padding: 0 0 1.4% 0;
    box-shadow: 8px -8px #b82b00;
}
.Main_container6_rectangle5{
    width: 25%;
    border: 2px solid #242947;
    border-radius: 5px;
    padding: 0 0 1.4% 0;
    box-shadow: 8px -8px #c6d30d;
}
.Main_container6_rectangle6{
    width: 25%;
    border: 2px solid #DCD6CC;
    border-radius: 5px;
    padding: 0 0 1.4% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Main_container6_rectangle6 button{
    margin-top: 7%;
    border: none;
    background-color: #DCD6CC;
    padding: 5% 0 5% 0;
    width: 50%;
    border-radius: 30px;
    font-family: "Roboto";
    font-size:100%;
}
.stars{
    margin:8.2% 0 0 8.3%;
    display: flex;
    gap:1.8%;
    width:30%
}
.Main_container6_rectangle_review{
    font-family: "Roboto";
    font-size:113%;
    width: 80%;
    margin: 7% 0 0 8.1%;
    line-height: 150%;
}
.Main_container6_rectangle_who{
    font-family: "Roboto";
    font-size:104%;
    margin: 8.1% 0 0 8.1%;
}
.Main_container7{
    background-color: #F6CFCA;
    display: flex;
    text-align: center;
    margin-top:14.15% ;
    flex-direction: column;
    width: 100%;
}
body.dark .Main_container7{
    background-color:#00000071; 
}
body.dark .Main_container7 img{
    filter: invert(1);
}
.Main_container7 p{
    font-family: "roboto";
    font-size: 550%;
    width: 50%;
    margin: 3% 0 0 26%;
    line-height: 114%;
    
}
.Sponsors{
    display: flex;
    width: 100%;
    margin:3.15% 0 0 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:8.2%;
    padding-bottom:7.7% ;
}
.Sponsors img{
    height: 100%;
}
.Main_container8{
    margin: 9.4% 0 0 38.5%;
    align-items: center;
    text-align: center;
    width: 23%;
}
.Main_container8.nolog{
    display: none;
}
.Main_container8 p{
    font-family: "Roboto";
    font-size:150%;
    line-height: 135%;
}
.Main_container8 button{
    font-family: "Roboto";
    font-size:113%;
    margin-top: 5%;
    width: 68.5%;
    border: none;
    padding: 6.5% 0 6.5% 0;
    border-radius: 40px;
    background-color: #E9672B;
}
footer{
    background-color: #F3F0EC;
    margin-top:9.8% ;
    display: flex;
    flex-direction: column;
    gap:2%;
}
body.dark footer{
    background-color: #00000071;
}
.footer_container{
    padding:4.85% 0 0 6.2%;
    display:flex;
    flex-direction: row;
    gap:13.8%;
    width: 60%;
}
.Furniture{
    display: flex;
    flex-direction: column;
}
.Furniture p{
    font-family: "Roboto";
    font-size:114%;
}
.Furniture a{
    font-family: "Roboto";
    font-size:100%;
    text-decoration: none;
    color:black;
    padding: 9% 0 4.5% 0;
}
.About{
    display: flex;
    flex-direction: column;
}
.About p{
    font-family: "Roboto";
    font-size:114%;
}
.About a{
    font-family: "Roboto";
    font-size:100%;
    text-decoration: none;
    color:black;
    padding: 5% 0 4% 0;
}
.Help{
    display: flex;
    flex-direction: column;
    margin:0.5% 0 0 0.5%;
}
.Help p{
    font-family: "Roboto";
    font-size:100%;
}
.Help a{
    font-family: "Roboto";
    font-size:100%;
    text-decoration: none;
    color:black;
    padding: 9.5% 0 1% 0;
}
.footer_right_container{
    width: 40%;
    margin:6% 14.9% 0 0;
}
.Social_media p{
    font-family: "Roboto";
    font-size:114%;
    margin:0.9% 0 0 0.05%;
}
.Social_media_img{
    display: flex;
    flex-direction: row;
    gap: 4.1%;
    margin-top:6.2% ;
}
.Social_media_img img:hover{
    animation: socialinvert 1s ease;
    border-radius: 50px;
}
body.dark .Social_media_img img:hover{
    animation: socialinvertinvert 1s ease;
}
body.dark .Social_media_img{
    filter:invert(1);
}
.NEWSLETTER{
    margin-top:14% ;
}
.NEWSLETTER p{
    font-family: "Roboto";
    font-size:114%;
    border-bottom: 2px solid black;
    padding-bottom: 15.5%;
    width: 75.5%;
}
body.dark .NEWSLETTER p{
    border-bottom: 2px solid white;
}
.window{
    margin: 41.8% 0 0 115.5%;
    padding-bottom: 20%;
}
.footer_and_contact{
    display: flex;
    flex-direction: row;
}
.Contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1%;
}
.Contact_info a,p{
    font-family: roboto;
    font-size: 120%;
    text-decoration: none;
    color:black;
    margin: 0;
}
.map_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
#Log_out.nolog{
    display: none;
}
#view_users.notAdmin{
    display: none;
}